<%- include('../partials/header') %>

<h1>Posts Index</h1>
<a href="/posts/new">Add a post</a>

<li>
  <% posts.forEach(function(p) { %>
    <ul>
      <a href=" /posts/<%= p.id %>"><%= p.title %></a>
      <span><%= p.createdAt ? p.createdAt.toLocaleTimeString() : '' %></span>
      <form action="/posts/<%= p.id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
    </ul>
  <% }); %>
</li>

<%- include('../partials/footer') %>